{%extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col">
    </div>
    <div class="col mt-5">
        <form method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" aria-describedby="password">
            </div>
            <button type="submit" class="form-control btn-success">Login</button>
            {% csrf_token %}
        </form>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}