{%extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col">
    </div>
    <div class="col mt-5 center">
        <form 
            autocomplete="off" autofill="off"
            hx-encoding="multipart/form-data" hx-trigger="submit"
            hx-post="{% url 'login' %}"
            hx-indicator="#page_load_indicator"
            hx-swap="none"
            hx-push-url="true">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" aria-describedby="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" aria-describedby="password">
            </div>
            <button class="btn btn-success mb-3" type="submit">Login</button>

            <a class="btn btn-secondary" href="{%url 'register'%}">Register</a>
            {% csrf_token %}
        </form>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}