<div id="brand_container">
    <script>
        if (document.getElementById('page_load_indicator') == null) {
            location.reload();
        }
    </script>
    <label for="brand" class="form-label">Drink Brand</label>
    <div class="d-flex" id="">     
        <select class="select2 form-control" name="brand" id="brand" aria-describedby="brandHelp">
            {% for brand in brands %}
            <option {%if brand == selected_brand%}selected{%endif%} value="{{ brand.id }}">{{ brand.name }}{%if not brand.approved%} (Awaiting Approval){%endif%}</option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-secondary ml-2"  data-bs-toggle="modal" data-bs-target="#brand_submit_modal">Add</button>                     
    </div>
    <div id="brandHelp" class="form-text">Select the brand of the drink you are submitting.</div>
</div>