{%load static core_tags drink_tags%}

<div class="card" style="height:335px; width:230px;">
    <div class="center image-container image-container-hover">
        <a
            href="{%url 'view-drink' pk=drink.pk%}" 
            hx-get="{%url 'view-drink' pk=drink.pk%}" 
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#page_load_indicator"
            hx-push-url="true">
            {%if drink.image%}
            <img src="{{ drink.image.url }}" class="card-img-top" alt="{{ drink.name }}" style="padding:6px; max-width:180px; max-height:180px; width: auto; height: auto;">
            {%else%}
            <img src="{%static 'img/mystery-can.webp'%}" class="card-img-top" style="padding:6px; max-width:180px; max-height:180px; width: auto; height: auto;">
            {%endif%}
        </a>
    </div>
    <div class="card-body">
        <div class="row m-0">
            <div class="col p-0">
            </div>
            <div class="col-auto p-0">
                <div class="row m-0" style="height: 48px">
                    <div class="col center">
                        <a href="{%url 'view-drink' pk=drink.pk%}" hx-get="{%url 'view-drink' pk=drink.pk%}" hx-target="#content"
                            hx-swap="innerHTML"
                            hx-indicator="#page_load_indicator"
                            hx-push-url="true">
                            <h5 class="card-title elipses-overflow pb-1 hover-link">{{ drink.name }}</h5>
                        </a>
                        <a style="min-height: ;" href="#"
                            hx-get="{%url 'list-drinks'%}?brand={{drink.brand.pk}}&show_filters=true" hx-target="#content"
                            hx-swap="innerHTML"
                            hx-indicator="#page_load_indicator"
                            hx-push-url="true">
                            <h6 class="card-title elipses-overflow pb-1 hover-link">{{ drink.brand.name }}</h6>
                        </a>                            
                    </div>
                </div>
                {%if not hide_caffeine %}
                <div class="row m-0">
                    <div class="col p-0 pe-1 center">
                        <p class="card-text mb-0" style="font-size:13px">{%if drink.caffeine_per_hundred_ml is not None%}{{ drink.caffeine_per_hundred_ml|round_tag:0 }}{%else%}?{%endif%} <span class="text-50" style="font-size:12px">mg/100ml</span></p>
                    </div>
                </div>
                {% endif %}
                {%if not hide_buttons %}
                {%include 'drink/htmx/drink_buttons.html'%}
                {% endif %}
                {%if drink.review_drink.exists%}
                <div class="taste-rating mt-1">
                    <div class="row m-0">
                        <div class="col p-0">
                        </div>
                        <div class="col-auto nowrap p-0 pt-2 pe-2" style="font-size:8px">
                            {% for star in 0|range_tag:drink.average_taste %}
                            <i class="fas fa-star yellow-star"></i>
                            {% endfor %}
                            {% for star in drink.average_taste|range_tag:10 %}
                            <i class="fas fa-star grey-star"></i>
                            {% endfor %}
                        </div>
                        <div class="col-auto p-0">
                            <span class="card-text" style="font-size:13px">Avg Taste</span>
                        </div>
                        <div class="col p-0">
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
            <div class="col p-0">
            </div>
        </div>
    </div>
</div>