{%load core_tags%}
<div>   
    <script>
        if (document.getElementById('page_load_indicator') == null) {
            location.reload();
        }
        
        {% comment %} function setupStars(key) {
            const stars = document.querySelectorAll('#'+key+'-panel .star');
            const ratingValue = document.getElementById(key+'-value');           

            stars.forEach((star, index) => {
                star.addEventListener('click', () => {
                    ratingValue.value = index + 1;
                    highlightStars(index);
                    $('#search-drinks-button').click()
                });
                star.addEventListener('mouseover', () => {
                    highlightStars(index);
                });
                star.addEventListener('mouseleave', () => {
                    highlightStars(ratingValue.value - 1);
                });
            });
        
            function highlightStars(index) {
                stars.forEach((star, i) => {
                    star.classList.toggle('checked', i <= index);
                });
            }
        
            // Initialize with no stars highlighted
            highlightStars(ratingValue.value - 1);
        } {% endcomment %}
    </script>
    
    <div class="row m-2">
        <form class="form-inline" method="#" id="search-drinks-form"
            hx-get="{%url 'search-drinks'%}" hx-target="#search-drinks-content"
            hx-swap="innerHTML"
            hx-indicator="#page_load_indicator"
            hx-push-url="false"
            hx-trigger="submit, load"
            >
            <button hidden form="search-drinks-form" class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit" id="search-drinks-button">Search</button>
            
            <div class="row mt-3">
                <!-- Filters -->
                <div class="col-12 col-md-auto filter-panel collapse" id="main-filter-panel">
                    <div class="row">
                        <div class="col-auto">
                            <h5>Filters</h5>
                        </div>
                        <div class="col right">
                            <button type="button" class="btn btn-danger btn-sm"
                                onclick="$('.filter-panel input, #search-bar').val(''); $('.checked').removeClass('checked');  $('.filter-panel select').val('').trigger('change'); $('#search-drinks-button').click()">Clear All</button>
                        </div>
                    </div> 
                    <hr>
                    <label for="drink_brands" style="width:100%">
                        Drink Brand <br>
                        <div class="row">
                            <div class="col pe-0">
                                <select style="width:100%" class="form-control form-control-sm select2 search-drinks-param" name="drink_brand" id="drink_brands" onchange="$('#search-drinks-button').click()">
                                    <option selected></option>
                                    {%for drink_brand_ in drink_brands%}
                                    <option value="{{drink_brand_.pk}}" {%if drink_brand_.pk|str_tag == request.GET.drink_brand|str_tag%}selected{%endif%}>{{drink_brand_.name}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-secondary btn-sm"
                                onclick="$('#drink_brands').val('').trigger('change');">Clear</button>
                            </div>
                        </div>
                    </label>
                    <hr>

                    <div class="mb-3" id="taste-panel">
                        <label for="title" class="form-label mb-0">Taste</label>                
                        <div class="star-rating" style="font-size: 10px">
                            <span class="star" data-rating="1"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="2"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="3"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="4"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="5"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="6"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="7"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="8"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="9"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="10"><i class="fas fa-star"></i></span>
                        </div>
                        <input type="hidden" class="search-drinks-param" id="taste-value" name="taste" 
                                {%if request.GET.taste%}value="{{request.GET.taste}}"{%endif%}>
                    </div>
                    <hr>

                    <div class="mb-3" id="aftertaste-panel">
                        <label for="title" class="form-label mb-0">Aftertaste</label>                
                        <div class="star-rating" style="font-size: 10px">
                            <span class="star" data-rating="1"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="2"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="3"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="4"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="5"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="6"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="7"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="8"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="9"><i class="fas fa-star"></i></span>
                            <span class="star" data-rating="10"><i class="fas fa-star"></i></span>
                        </div>
                        <input type="hidden" class="search-drinks-param" id="aftertaste-value" name="aftertaste" 
                        {%if request.GET.aftertaste%}value="{{request.GET.aftertaste}}"{%endif%}>
                    </div>
                    <hr>

                    <div class="mb-3" id="caffeine-panel">
                        <label for="title" class="form-label mb-0">Caffeine <span class="text-black-50" style="font-size:12px">mg/100ml</span></label>
                        <input type="number" class="form-control form-control-sm search-drinks-param" id="caffeine-value" name="caffeine_per_hundred_ml" 
                        {%if request.GET.caffeine_per_hundred_ml%}value="{{request.GET.caffeine_per_hundred_ml}}"{%endif%}
                            oninput="$('#page_load_indicator').addClass('htmx-request')"
                            hx-trigger="input delay:0.5s"
                            hx-get="{%url 'search-drinks'%}" hx-target="#search-drinks-content"
                            hx-swap="innerHTML"
                            hx-indicator="#page_load_indicator"
                            hx-push-url="true"
                            hx-include=".search-drinks-param">
                    </div>
                </div>
                
                <div class="col">
                    <div class="row m-0 mt-3 filter-panel collapse show">
                        <div class="col mr-1 px-0">
                            <input class="form-control form-control-sm" name="search" type="search" placeholder="Search for drinks..." aria-label="Search" id="search-bar"
                                oninput="$('#page_load_indicator').addClass('htmx-request')"
                                {%if request.GET.search%}value="{{request.GET.search}}"{%endif%}
                                hx-trigger="input delay:0.5s"
                                hx-get="{%url 'search-drinks'%}" hx-target="#search-drinks-content"
                                hx-swap="innerHTML"
                                hx-indicator="#page_load_indicator"
                                hx-push-url="true"
                                hx-include=".search-drinks-param">
                        </div>
                        <div class="col-auto">
                            <select class="form-control form-control-sm search-drinks-param" name="sort" onchange="$('#search-drinks-button').click()">
                                <option value="" disabled selected>Sort By...</option>
                                <option {%if request.GET.sort == 'caffeine_per_hundred_ml'%}selected{%endif%} value="caffeine_per_hundred_ml">Caffeine (mg/100ml) - ↑</option>
                                <option {%if request.GET.sort == '-caffeine_per_hundred_ml'%}selected{%endif%} value="-caffeine_per_hundred_ml">Caffeine (mg/100ml) - ↓</option>
                                <option {%if request.GET.sort == 'review_drink__count'%}selected{%endif%} value="review_drink__count">Number of Reviews - ↑</option>
                                <option {%if request.GET.sort == '-review_drink__count' or not request.GET.sort%}selected{%endif%} value="-review_drink__count">Number of Reviews - ↓</option>
                                <option {%if request.GET.sort == 'average_taste'%}selected{%endif%} value="average_taste">Average Taste - ↑</option>
                                <option {%if request.GET.sort == '-average_taste'%}selected{%endif%} value="-average_taste">Average Taste - ↓</option>
                                <option {%if request.GET.sort == 'average_aftertaste'%}selected{%endif%} value="average_aftertaste">Average Aftertaste - ↑</option>
                                <option {%if request.GET.sort == '-average_aftertaste'%}selected{%endif%} value="-average_aftertaste">Average Aftertaste - ↓</option>
                                <option {%if request.GET.sort == 'name'%}selected{%endif%} value="name">Name - ↑</option>
                                <option {%if request.GET.sort == '-name'%}selected{%endif%} value="-name">Name - ↓</option>
                                <option {%if request.GET.sort == 'drink_brand__name'%}selected{%endif%} value="drink_brand__name">Brand Name - ↑</option>
                                <option {%if request.GET.sort == '-drink_brand__name'%}selected{%endif%} value="-drink_brand__name">Brand Name - ↓</option>
                            </select>
                        </div>
                        <div class="col-auto px-1" style="font-size:12px">
                            <div class="form-check pt-1">
                                <input class="form-check-input search-drinks-param" type="radio" name="view" id="view2" value="list" onchange="$('#search-drinks-button').click()"
                                {%if view == 'list'%}checked{%endif%}>
                                <label class="form-check-label" for="view2">
                                List
                                </label>
                            </div>
                        </div>
                        <div class="col-auto px-1" style="font-size:12px">
                            <div class="form-check pt-1">
                                <input class="form-check-input search-drinks-param" type="radio" name="view" id="view1" value="gallery" onchange="$('#search-drinks-button').click()"
                                {%if view == 'gallery'%}checked{%endif%}>
                                <label class="form-check-label" for="view1">
                                Gallery
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0 mt-2">
                    <div class="row">
                        <div class="col center mt-3">
                            <button class="btn btn-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#main-filter-panel" aria-expanded="false">
                                Show/Hide Filters
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3" id="search-drinks-content">
                        {% comment %} {%if view == 'list'%}
                        {% include 'drink/htmx/search_drinks_list_htmx.html'%}
                        {%else%}
                        {% include 'drink/htmx/search_drinks_gallery_htmx.html'%}
                        {%endif%} {% endcomment %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>