{%load core_tags drink_tags%}
<div class="row m-0">
    {% for drink in drinks %}
    <div class="col-auto mb-3">
        <div class="card pointer" onclick="window.location.replace('{%url 'view-drink' pk=drink.pk%}')" style="height:320px; width:230px;">
            <div class="center">
                {%if drink.image%}
                <img src="{{ drink.image.url }}" class="card-img-top" alt="{{ drink.name }}" style="padding:6px; max-width:180px; max-height:180px; width: auto; height: auto;">
                {%endif%}
            </div>
            <div class="card-body">
                <div class="row m-0">
                    <div class="col p-0">
                    </div>
                    <div class="col-auto p-0">
                        <div class="row m-0">
                            <div class="col center">
                                <h5 class="card-title">{{ drink.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ drink.drink_brand.name }}</h6>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col p-0 pr-1 right nowrap">
                                <p class="card-text mb-0" style="font-size:13px">{%if drink.caffeine_per_hundred_ml is not None%}{{ drink.caffeine_per_hundred_ml }}{%else%}?{%endif%} <span class="text-black-50" style="font-size:12px">mg/100ml</span></p>
                            </div>
                            <div class="col p-0 pl-1 nowrap">
                                <a href="{%url 'reviews' pk=drink.pk%}" class="nowrap">{{drink.review_drink.count}} Review{%if not drink.review_drink.count == 1%}s{%endif%}</a>
                            </div>
                        </div>
                        {%if drink.review_drink.exists%}
                        <div class="taste-rating">
                            <div class="row m-0">
                                <div class="col-auto nowrap pt-2 pr-2 pl-0" style="font-size:8px">
                                    {% for star in 0|range_tag:drink.average_taste %}
                                    <i class="fas fa-star yellow-star"></i>
                                    {% endfor %}
                                    {% for star in drink.average_taste|range_tag:10 %}
                                    <i class="fas fa-star grey-star"></i>
                                    {% endfor %}
                                </div>
                                <div class="col pl-0">
                                    <span class="card-text" style="font-size:13px">Taste</span>
                                </div>
                            </div>
                        </div>
                        <div class="aftertaste-rating">
                            <div class="row m-0">
                                <div class="col-auto nowrap pt-2 pr-2 pl-0" style="font-size:8px">
                                    {% for star in 0|range_tag:drink.average_aftertaste %}
                                    <i class="fas fa-star yellow-star"></i>
                                    {% endfor %}
                                    {% for star in drink.average_aftertaste|range_tag:10 %}
                                    <i class="fas fa-star grey-star"></i>
                                    {% endfor %}
                                </div>
                                <div class="col pl-0">
                                    <span class="card-text" style="font-size:13px">Aftertaste</span>
                                </div>
                            </div>
                        </div>
                        {%else%}
                        <div class="center mt-2">
                            <a href="{%url 'review-drink' pk=drink.pk%}" class="nowrap">Be the first to review!</a>
                        </div>
                        {%endif%}
                    </div>
                    <div class="col p-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
