{%load core_tags drink_tags%}
<div>
    {% for drink in drinks %}
    <div class="row border my-1 pointer" onclick="window.location.replace('{%url 'view-drink' pk=drink.pk%}')">
        <div class="col-auto pl-1" style="width:110px">
            <div class="" style="height:110px">
                <div class="center">
                    {%if drink.image%}
                    <img src="{{ drink.image.url }}" class="card-img-top" alt="{{ drink.name }}" style="padding:6px; max-width:100px; max-height:100px; width: auto; height: auto;">
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="col-auto pr-1">
            <div class="" style="height:110px">
                <div class="card-body">
                    <h5 class="card-title">{{ drink.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ drink.drink_brand.name }}</h6>
                    <p class="card-text mb-0" style="font-size:13px">{%if drink.caffeine_per_hundred_ml is not None%}{{ drink.caffeine_per_hundred_ml }}{%else%}?{%endif%} <span class="text-black-50" style="font-size:12px">mg/100ml</span></p>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col-auto">
            <div class="" style="height:110px">
                <div class="card-body">
                    {%if drink.review_drink.exists%}
                    <a href="{%url 'reviews' pk=drink.pk%}" class="nowrap">{{drink.review_drink.count}} Review{%if not drink.review_drink.count == 1%}s{%endif%}</a>
                    <div class="taste-rating">
                        <div class="row m-0 nowrap">
                            <div class="col-auto nowrap pt-2 pr-2 pl-0" style="font-size:8px">
                                {% for star in 0|range_tag:drink.average_taste %}
                                <i class="fas fa-star yellow-star"></i>
                                {% endfor %}
                                {% for star in drink.average_taste|range_tag:10 %}
                                <i class="fas fa-star grey-star"></i>
                                {% endfor %}
                            </div>
                            <div class="col pl-0">
                                <span class="card-text" style="font-size:13px">Taste</span>
                            </div>
                        </div>
                    </div>
                    <div class="aftertaste-rating">
                        <div class="row m-0 nowrap">
                            <div class="col-auto nowrap pt-2 pr-2 pl-0" style="font-size:8px">
                                {% for star in 0|range_tag:drink.average_aftertaste %}
                                <i class="fas fa-star yellow-star"></i>
                                {% endfor %}
                                {% for star in drink.average_aftertaste|range_tag:10 %}
                                <i class="fas fa-star grey-star"></i>
                                {% endfor %}
                            </div>
                            <div class="col pl-0">
                                <span class="card-text" style="font-size:13px">Aftertaste</span>
                            </div>
                        </div>
                    </div>
                    {%else%}
                    <div class="center mt-2">
                        <a href="{%url 'review-drink' pk=drink.pk%}" class="nowrap">Be the first to review!</a>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
