{%load static%}
{%load core_tags drink_tags%}
<div>
    {% for drink in drinks %}
    <div class="row border my-1 pointer align-items-center nowrap" style="min-width:355px" onclick="window.location.replace('{%url 'view-drink' pk=drink.pk%}')">
        <div class="col-auto p-0 me-2">
            <div class="d-flex align-items-center" style="height:85px">
                <div class="center">
                    {% if drink.image %}
                    <img src="{{ drink.image.url }}" class="card-img-top drink-img" alt="{{ drink.name }}" style="padding:3px; width:50px; height:85px;">
                    {% else %}
                    <img src="{% static 'img/coming-soon.jpg' %}" class="card-img-top drink-img" style="padding:3px; width:45px; height:85px;">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col px-1">
            <div class="d-flex align-items-center" style="height:110px">
                <div class="card-body">  
                    <div class="row mt-1 nowrap">
                        <div class="col">
                            <h5 class="card-title">{{ drink.name }}</h5>
                        </div>
                        <div class="col-auto me-2">
                            {% if drink.review_drink.exists %}
                            <a href="{% url 'reviews' pk=drink.pk %}" class="nowrap">{{ drink.review_drink.count }} Review{% if not drink.review_drink.count == 1 %}s{% endif %}</a>
                            {% else %}
                            <div class="center mt-2">
                                <a href="{% url 'review-drink' pk=drink.pk %}" class="nowrap">Be the first to review!</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>   
                    <div class="row mt-1 nowrap">
                        <div class="col">
                            <h6 class="card-subtitle text-muted">{{ drink.drink_brand.name }}</h6>
                        </div>
                        <div class="col-auto me-2">
                            <h6 class="card-subtitle text-muted">{% if drink.caffeine_per_hundred_ml is not None %}{{ drink.caffeine_per_hundred_ml|round_tag:0 }}{% else %}?{% endif %} <span class="text-black-50" style="font-size:12px">mg/100ml</span></h6>
                        </div>
                    </div>  
                    <div class="row mt-1 nowrap">
                        <div class="col border-end ps-1 pe-0">
                            <div class="taste-rating nowrap center">
                                <div class="nowrap pt-2 pe-2 ps-0">
                                    <span class="card-text" style="font-size:11px">Taste</span>
                                    <br>
                                    {% for star in 0|range_tag:drink.average_taste %}
                                    <i class="fas fa-star yellow-star display-star"></i>
                                    {% endfor %}
                                    {% for star in drink.average_taste|range_tag:10 %}
                                    <i class="fas fa-star grey-star display-star"></i>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col ps-1 pe-1">
                            <div class="aftertaste-rating nowrap center">
                                <div class="nowrap pt-2 pe-2 ps-0">
                                    <span class="card-text" style="font-size:11px">Aftertaste</span>
                                    <br>
                                    {% for star in 0|range_tag:drink.average_aftertaste %}
                                    <i class="fas fa-star yellow-star display-star"></i>
                                    {% endfor %}
                                    {% for star in drink.average_taste|range_tag:10 %}
                                    <i class="fas fa-star grey-star display-star"></i>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
