{%load static %}
<span>    
    <div class="row mt-3">
        <div class="col">
        </div>
        <div class="col-auto">
            <div class="card p-3">
                <div class="row">
                    <div class="col-auto">
                        <h5 class="card-title">{{ drink.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ drink.drink_brand.name }}</h6>
                        <span class="nowrap">Reviewed Flavour: {{drink.average_taste}}<span class="text-black-50" style="font-size:12px">/10</span></span>
                        <br>
                        <span class="nowrap">Reviewed Aftertaste: {{drink.average_aftertaste}}<span class="text-black-50" style="font-size:12px">/10</span></span>
                        <br>
                        <br>
                        <span class="nowrap">Caffeine: 32mg/100ml</span>
                        <br>
                        <span class="nowrap">Sizes: 250ml/355ml/473ml</span>
                        <br>
                        <a href="{%url 'review-drink' pk=pk%}" class="nowrap">Review this Drink!</a>
                        
                    </div>
                    <div class="col-auto right">
                        <img src="/media/{{drink.image}}" 
                            alt="" 
                            style="padding:6px; max-height: 150px; max-width: 150px;" 
                            class="">
                        <br>
                        <span class="nowrap"><span class="text-black-50 mr-1" style="font-size:12px">Submitted By: </span><a href="#">{{drink.submitted_by}}</a></span>
                        <br>
                        <a class="ml-2" href="#" style="font-size:12px">100 reviews</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
<span>