{%load static core_tags drink_tags%}
<div>    
    <script>
        if (document.getElementById('page_load_indicator') == null) {
            location.reload();
        }
    </script>
    <div class="row mt-3">
        <div class="col">
        </div>
        <div class="col-auto">
            <div class="card">
                <div class="center">
                    {%if drink.image%}
                    <img src="{{ drink.image.url }}" class="card-img-top" alt="{{ drink.name }}" style="padding:6px; max-width:180px; max-height:180px; width: auto; height: auto;">
                    {%else%}
                    <img src="{%static 'img/coming-soon.jpg'%}" class="card-img-top" style="padding:6px; max-width:180px; max-height:180px; width: auto; height: auto;">
                    {%endif%}
                </div>
                <div class="card-body">
                    <div class="row m-0">
                        <div class="col p-0">
                        </div>
                        <div class="col-auto">
                            <div class="row m-0">
                                <div class="col center">
                                    <h5 class="card-title elipses-overflow pb-1">{{ drink.name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted elipses-overflow">{{ drink.drink_brand.name }}</h6>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col p-0 pe-1 right nowrap">
                                    <p class="card-text mb-0" style="font-size:13px">{%if drink.caffeine_per_hundred_ml is not None%}{{ drink.caffeine_per_hundred_ml|round_tag:0 }}{%else%}?{%endif%} <span class="text-black-50" style="font-size:12px">mg/100ml</span></p>
                                </div>
                                <div class="col p-0 ps-1 nowrap">
                                    <a class="nowrap" href="#"
                                        hx-get="{%url 'reviews' pk=drink.pk%}" hx-target="#content"
                                        hx-swap="innerHTML"
                                        hx-indicator="#page_load_indicator"
                                        hx-push-url="true">{{drink.review_drink.count}} Review{%if not drink.review_drink.count == 1%}s{%endif%}</a>
                                </div>
                            </div>
                            {%if drink.review_drink.exists%}
                            <div class="taste-rating">
                                <div class="row m-0 nowrap">
                                    <div class="col-auto nowrap pt-2 pe-2 ps-0" style="font-size:8px">
                                        {% for star in 0|range_tag:drink.average_taste %}
                                        <i class="fas fa-star yellow-star"></i>
                                        {% endfor %}
                                        {% for star in drink.average_taste|range_tag:10 %}
                                        <i class="fas fa-star grey-star"></i>
                                        {% endfor %}
                                    </div>
                                    <div class="col ps-0">
                                        <span class="card-text" style="font-size:13px">Taste</span>
                                    </div>
                                </div>
                            </div>
                            <div class="aftertaste-rating">
                                <div class="row m-0 nowrap">
                                    <div class="col-auto nowrap pt-2 pe-2 ps-0" style="font-size:8px">
                                        {% for star in 0|range_tag:drink.average_aftertaste %}
                                        <i class="fas fa-star yellow-star"></i>
                                        {% endfor %}
                                        {% for star in drink.average_aftertaste|range_tag:10 %}
                                        <i class="fas fa-star grey-star"></i>
                                        {% endfor %}
                                    </div>
                                    <div class="col ps-0">
                                        <span class="card-text" style="font-size:13px">Aftertaste</span>
                                    </div>
                                </div>
                            </div>
                            <div class="center mt-2">
                                {%if request.user.id%}
                                    <a class="nowrap" href="#"
                                        hx-get="{% url 'review-drink' pk=drink.pk %}" hx-target="#content"
                                        hx-swap="innerHTML"
                                        hx-indicator="#page_load_indicator"
                                        hx-push-url="true">
                                        Review this drink
                                    </a>
                                {%else%}
                                <a class="nowrap" href="/accounts/login/?next={% url 'review-drink' pk=drink.pk %}">
                                    Login to Review
                                </a>
                                {%endif%}
                            </div>
                            {%elif request.user.id%}
                            <div class="center mt-2">
                                <a class="nowrap" href="#"
                                    hx-get="{% url 'review-drink' pk=drink.pk %}" hx-target="#content"
                                    hx-swap="innerHTML"
                                    hx-indicator="#page_load_indicator"
                                    hx-push-url="true">
                                        Be the first to review!
                                </a>
                            </div>
                            {%endif%}
                            {%if user.is_superuser%}
                            <div class="center mt-2">
                                <a class="nowrap" href="#"
                                    hx-get="{%url 'edit-drink' pk=drink.pk%}" hx-target="#content"
                                    hx-swap="innerHTML"
                                    hx-indicator="#page_load_indicator"
                                    hx-push-url="true">Edit Drink</a>
                            </div>
                            {%endif%}
                        </div>
                        <div class="col p-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
<div>