{%extends 'base.html'%}
{%load static%}
{% block content %}
<div class="modal fade" id="drink_brand_submit_modal" tabindex="-1" aria-labelledby="drink_brand_submit_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="drink_brand_submit_modalLabel">Add Brand</h1>
            </div>
            <div class="modal-body">
                <form id="drink_brand_form"
                    hx-encoding="multipart/form-data"
                    hx-trigger="submit"
                    hx-post="{% url 'submit-drink-brand'%}" 
                    hx-target="#drink_brand_container" 
                    hx-swap="outerHTML"
                    hx-indicator="#page_load_indicator"
                    hx-push-url="false">
                    <div class="mb-3">
                        <label for="brand_name" class="form-label">Brand Name</label>
                        <input type="text" class="form-control" id="brand_name" name="brand_name" aria-describedby="brand_name">
                        <div id="brandNameHelp" class="form-text">The name of the brand you are submitting.</div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="drink_brand_form" type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
    </div>
    <div class="col-auto">
        <div class="card p-3">
            <form id="drink_form"
                autocomplete="off" autofill="off"
                hx-encoding="multipart/form-data" hx-trigger="submit"
                {%if drink%}
                hx-post="{% url 'edit-drink' pk=drink.pk %}"
                {%else%}
                hx-post="{% url 'submit-drink' %}"
                {%endif%}
                hx-indicator="#page_load_indicator"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-push-url="true">

                <div class="mb-3">
                    <label for="drink_name" class="form-label">Drink Name</label>
                    <input type="text" class="form-control" id="drink_name" name="drink_name" aria-describedby="drink_name" value="{{drink.name}}">
                    <div id="drink_name_help" class="form-text">The name of the drink you are submitting.</div>
                </div>

                <div class="mb-3">
                    {%with drink.drink_brand as selected_brand %}
                    {%include 'drink/htmx/drink_brand_select_htmx.html'%}
                    {%endwith%}
                </div>

                <div class="mb-3">
                    <label for="drink_name" class="form-label">Image</label>
                    <input name="image" placeholder="test" type="file" class="form-control modify_user_input" id="customFile" />
                </div>

                <div class="mb-3">
                    <label for="caffeine_per_hundred_ml" class="form-label">Caffeine (mg) per 100 ml <span class="text-black-50" style="font-size:12px"> (Optional)</span></label>
                    <input type="number" class="form-control" id="caffeine_per_hundred_ml" name="caffeine_per_hundred_ml" aria-describedby="caffeine_per_hundred_ml" min="0" step="1"  value="{{drink.caffeine_per_hundred_ml}}"/>
                </div>
                
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}