{%load static core_tags%}
<!DOCTYPE html>
<html id="html" data-bs-theme="dark" lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Caffeine Collection</title>                   
        <script src="{% static 'js/jquery-3.7.1.js' %}"></script>     
        <!-- Bootstrap CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}"
              rel="stylesheet">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>   

        <link rel="stylesheet" href="{% static 'css/select2.4.1.0.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}?{%if debug%}{{''|random_guid}}{%else%}{{version}}{%endif%}" />
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}?{%if debug%}{{''|random_guid}}{%else%}{{version}}{%endif%}" />
        <script src="{% static 'js/select2.4.1.0.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.rtl.min.css' %}"/>
        <script src="{% static 'js/htmx.min.js' %}"></script>       
        <link href="{% static 'css/snackbar.css' %}" rel="stylesheet" />
        <script src="{% static 'js/snackbar.js' %}"></script>                    
        <script src="{% static 'js/fontawesome.js' %}"></script>

        <style>
            
        </style>
        <script>
            $(document).ready(function() {
                select2stuff();
                $('.select2tag:not([data-select2-id])').select2({     
                    tags: true,
                    createTag: function (tag) {
                        return {id: tag.term, text: tag.term, tag: true};
                    }
                });
                $('.select2tag').on('select2:open', function (e) {
                    const evt = "scroll.select2";
                    $(e.target).parents().off(evt);
                    $(window).off(evt);
                });
                document.body.addEventListener('htmx:afterSettle', basehandlehtmxafterSettle);
                document.body.addEventListener('htmx:afterRequest', basehandlehtmxafterRequest);

                {% comment %} htmx.config.historyCacheSize = 0; {% endcomment %}
            
                function handlehtmxconfigRequest(evt){ 
                    evt.detail.headers['x-csrftoken'] = '{{csrf_token}}';
                }
                document.body.addEventListener('htmx:configRequest', handlehtmxconfigRequest);

                
                
            });
            function select2stuff(){
                $('.select2:not([data-select2-id])').select2({
                    searchInputPlaceholder: '🔎 Search here...',        
                    theme: 'bootstrap-5',
                })
            };

            function setupStars(key, click_search=false) {
                console.log("setupStars")
                const stars = document.querySelectorAll('#'+key+'-panel .star');
                const ratingValue = document.getElementById(key+'-value');
            
                stars.forEach((star, index) => {
                    star.addEventListener('click', () => {
                        ratingValue.value = index + 1;
                        highlightStars(index);
                        if (click_search) {
                            $('#search-drinks-button').click()
                        }
                    });
                    star.addEventListener('mouseover', () => {
                        highlightStars(index);
                    });
                    star.addEventListener('mouseleave', () => {
                        highlightStars(ratingValue.value - 1);
                    });
                });
            
                function highlightStars(index) {
                    stars.forEach((star, i) => {
                        star.classList.toggle('checked', i <= index);
                    });
                }
            
                // Initialize with no stars highlighted
                highlightStars(ratingValue.value - 1);
            }

            function basehandlehtmxafterRequest(evt){
                let status = evt.detail.xhr.status;
                let srcElement = $(evt.srcElement);
                if (status == 404) {
                    snackbarShow('Error: '+evt.detail.xhr.response, 'danger', display_ms=5000);         
                }else if (status == 500){
                    snackbarShow('Error: '+evt.detail.xhr.response, 'danger', display_ms=5000);         
                }else if (status == 400){
                    snackbarShow('Error: '+evt.detail.xhr.response, 'danger', display_ms=5000);        
                }else if (status == 401){
                    snackbarShow('Unauthorized: '+evt.detail.xhr.response, 'danger', display_ms=5000);         
                }else if (status == 403){
                    snackbarShow('You are not permitted to perform this action: '+evt.detail.xhr.response, 'danger', display_ms=5000);         
                }
            };

            function snackbarShow(message, bootstrap_colour, display_ms=3000) {
                // Get the snackbar DIV
                var x = document.getElementById("snackbar");
                x.innerHTML = message;
                // Add the "show" class to DIV
                x.className = "show bg-"+bootstrap_colour;
                // After 3 seconds, remove the show class from DIV
                setTimeout(function() { x.className = x.className.replace("show", ""); }, display_ms);
            }

            function basehandlehtmxafterSettle(evt){
                let status = evt.detail.xhr.status;
                let srcElement = $(evt.srcElement);
                if(status == 200) {
                    if (![undefined, ''].includes(evt.detail.pathInfo.requestPath)){
                        $('.modal').modal('hide'); // closes all active pop ups.
                        $('.modal-backdrop').remove(); // removes the grey overlay.
                        {% comment %} snackbarShow('Success!', 'success'); {% endcomment %}
                        select2stuff();
                    }
                    if (evt.detail.pathInfo.requestPath.includes('list-drinks')) {
                        setupStars('taste', click_search=true);
                    }
                    if (evt.detail.pathInfo.requestPath.includes('review-drink')) {
                        setupStars('taste', click_search=false);
                    }
                }
            };
        </script>

        <script> //theme stuff
            $(document).ready(function () {
                // Retrieve theme preference from localStorage or default to light.
                const savedTheme = localStorage.getItem('theme') || 'dark';
                setTheme(savedTheme);
                document.getElementById('theme-switch').checked = savedTheme === 'dark';
        
                // Listen for theme change events.
                document.getElementById('theme-switch').addEventListener('change', function () {
                    const newTheme = this.checked ? 'dark' : 'light';
                    setTheme(newTheme);
                    localStorage.setItem('theme', newTheme);
                });
            });
        
            const setTheme = function (theme) {
                document.getElementById('html').setAttribute('data-bs-theme', theme);
            }
        </script>
    </head>
    <body style="width: 100%">
        <img class="htmx-indicator" id="page_load_indicator" src="{% static 'img/bars.svg' %}"/>
        
        {%include 'nav.html'%}
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        {%block snackbar%}
        <div id="snackbar"></div>
        {%endblock snackbar%}
    </body>
</html>
