{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Caffeine Collection</title>                   
        <script src="{% static 'js/jquery-3.6.0.js' %}"></script>     
        <!-- Bootstrap CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}"
              rel="stylesheet">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>   

        <link rel="stylesheet" href="{% static 'css/select2.4.1.0.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
        <script src="{% static 'js/select2.4.1.0.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap-5-theme.1.3.0.rtl.min.css' %}"/>
        <script src="{% static 'js/htmx.min.js' %}"></script>       
        <link href="{% static 'css/snackbar.css' %}" rel="stylesheet" />
        <script src="{% static 'js/snackbar.js' %}"></script>                    
        <script src="{% static 'js/fontawesome.js' %}"></script>

        <style>
            html {
                font-size: 14px
            }
            .left {
                text-align: left;
            }
            .center {
                text-align: center;
            }
            .right {
                text-align: right;
            }
            .nowrap {
                white-space: nowrap;
            }
            .htmx-indicator {
                visibility: hidden;
                opacity: 0;
                transition: opacity 500ms ease-in;
            }
            #page_load_indicator {
                height: 20%;
                width: 20%;
                position: fixed;
                top: 40%;
                left: 40%;
                z-index: 11111;
            }
            .pointer {
                cursor: pointer;
            }
            .grey-star {
                color: #ccc;
            }
            .yellow-star {
                color: #ffbd00;
            }
            .select2-styling {
                height:28px;
                font-size:10px;
            }
            .star-rating {
                display: flex;
                flex-direction: row;
            }
            
            .star {
                font-size: 1.5em; /* Make the stars smaller */
                color: #ccc;
                cursor: pointer;
                transition: color 0.3s;
            }
            
            .star.checked {
                color: #ffbd00;
            }
        </style>
        <script>                 
            $(document).ready(function() {
                select2stuff()
                function select2stuff(){
                    $('.select2:not([data-select2-id])').select2({
                        searchInputPlaceholder: '🔎 Search here...',        
                        theme: 'bootstrap-5',
                    })
                }
                $('.select2tag:not([data-select2-id])').select2({     
                    tags: true,
                    createTag: function (tag) {
                        return {id: tag.term, text: tag.term, tag: true};
                    }
                })
                $('.select2tag').on('select2:open', function (e) {
                    const evt = "scroll.select2";
                    $(e.target).parents().off(evt);
                    $(window).off(evt);
                });

                function snackbarShow(message, bootstrap_colour, display_ms=3000) {
                    // Get the snackbar DIV
                    var x = document.getElementById("snackbar");
                    x.innerHTML = message;
                    // Add the "show" class to DIV
                    x.className = "show bg-"+bootstrap_colour;
                    // After 3 seconds, remove the show class from DIV
                    setTimeout(function() { x.className = x.className.replace("show", ""); }, display_ms);
                }

                function basehandlehtmxafterRequest(evt){
                    let status = evt.detail.xhr.status;
                    let srcElement = $(evt.srcElement);
                    console.log("evt", evt)
                    console.log("status", status)
                    if(status == 200) {
                        if (![undefined, ''].includes(evt.detail.pathInfo.requestPath)){
                            console.log("$('.modal-backdrop')", $('.modal-backdrop'))
                            $('.modal').modal('hide') // closes all active pop ups.
                            $('.modal-backdrop').remove() // removes the grey overlay.
                            snackbarShow('Success!', 'success');
                            select2stuff()
                        }
                    } else if (status == 404) {
                        snackbarShow('Error: '+evt.detail.xhr.response, 'danger', display_ms=5000)           
                    }else if (status == 500){
                        snackbarShow('Error: '+evt.detail.xhr.response, 'danger', display_ms=5000)           
                    }else if (status == 400){
                        snackbarShow('Error: '+evt.detail.xhr.response, 'danger', display_ms=5000)           
                    }else if (status == 403){
                        snackbarShow('You are not permitted to perform this action: '+evt.detail.xhr.response, 'danger', display_ms=5000)           
                    }
                }
                document.body.addEventListener('htmx:afterRequest', basehandlehtmxafterRequest);
            });
        </script>
    </head>
    <body style="width: 100%">
        <img class="htmx-indicator" id="page_load_indicator" src="{% static 'img/bars.svg' %}"/>
        <nav class="navbar navbar-expand-lg energy-drink-theme">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'search-drinks' %}">Caffeine Collection</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'submit-drink' %}">Submit a Drink</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'search-drinks' %}">Search for Drinks</a>
                        </li>
                        
                    </ul>
                </div>
                <ul class="navbar-nav mb-lg-0 ms-1 d-flex"  style="height:54px">
                    {%if request.user.is_authenticated%} 
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true" data-bs-display="static">
                          <b>{%if request.user.profile.display_name%}{{request.user.profile.display_name}}{%else%}{{request.user}}{%endif%}</b>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                        <li><a class="dropdown-item" href="{% url 'profile'%}">Edit Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <li><button class="dropdown-item" type="submit">Sign out</button></li>
                            </form>
                        </ul>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="pointer btn btn-secondary ms-3" href="/accounts/login/">
                            Login
                        </a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </nav>
        {% comment %} <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">Navbar</a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav> {% endcomment %}
        
        
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        {%block snackbar%}
        <div id="snackbar"></div>
        {%endblock snackbar%}
    </body>
</html>
