<nav class="navbar navbar-expand-lg energy-drink-theme">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand me-3" href="#"
                hx-get="{%url 'list-drinks'%}" hx-target="#content"
                hx-swap="innerHTML"
                hx-indicator="#page_load_indicator"
                hx-push-url="true">Caffeine Collection</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% comment %} <div class="collapse navbar-collapse" id="navbarNavDropdown"> {% endcomment %}
            <ul class="navbar-nav">
                <li class="nav-item me-2">
                    <a class="nav-link" href="#"
                        hx-get="{%url 'list-drinks'%}" hx-target="#content"
                        hx-swap="innerHTML"
                        hx-indicator="#page_load_indicator"
                        hx-push-url="true">Search for Drinks</a>
                </li>
                {%if request.user.is_authenticated%} 
                <li class="nav-item me-2">
                    <a class="nav-link" href="#"
                        hx-get="{%url 'edit-drink'%}" hx-target="#content"
                        hx-swap="innerHTML"
                        hx-indicator="#page_load_indicator"
                        hx-push-url="true">Submit a Drink</a>
                </li>
                {%endif%}
                
            </ul>
        </div>
        {%if request.user.is_authenticated%} 
        <ul class="navbar-nav d-flex pe-3 border-end" style="" >
            <li class="nav-item">
                <div class="form-check form-switch text-white">
                    <input 
                        hx-post="{%url 'change-theme'%}" hx-swap="none"
                        class="form-check-input" 
                        name="theme" value="dark"
                        {%if request.user.profile.theme == 'dark'%}checked{%endif%}
                        type="checkbox"
                        oninput="if ($(this).prop('checked')){setTheme('dark')}else{setTheme('light')}"/>
                    <i class="fa-duotone fa-moon"></i>
                </div> 
            </li>
        </ul>
        {%endif%}
        <ul class="navbar-nav d-flex ps-2"  style="">
            {%if request.user.is_authenticated%} 
            <li class="nav-item dropdown">
                <button type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true" data-bs-display="static">
                  <b>{%if request.user.profile.display_name%}{{request.user.profile.display_name}}{%else%}{{request.user}}{%endif%}</b>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                <li><a class="dropdown-item" href="#"
                        hx-get="{%url 'profile'%}" hx-target="#content"
                        hx-swap="innerHTML"
                        hx-indicator="#page_load_indicator"
                        hx-push-url="true">Edit Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <form method="post" href="#"
                        hx-get="{%url 'logout'%}" hx-target="#content"
                        hx-swap="innerHTML"
                        hx-indicator="#page_load_indicator"
                        hx-push-url="true">
                        {% csrf_token %}
                        <li><button class="dropdown-item" type="submit">Sign out</button></li>
                    </form>
                </ul>
            </li>
            {%else%}
            <li class="nav-item">
                <a class="pointer btn btn-light ms-3" href="/accounts/login/">
                    Login
                </a>
            </li>
            {%endif%}
        </ul>
    </div>
</nav>